################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prac/.vs/Prac/v16
/Prac/obj
/DictionaryApp/bin/Debug/netcoreapp3.1
/DictionaryApp/obj
/DictionaryApp/.vs/DictionaryApp/v16
/DictionaryApp/.vs/DictionaryApp/DesignTimeBuild
/MyMVCApplication/.vs/MyMVCApplication
/MyMVCApplication/bin
/MyMVCApplication/Content
/MyMVCApplication/fonts
/MyMVCApplication/obj/Debug
/MyMVCApplication/packages
/MyMVCApplication/Scripts
